*.pyc
__pycache__
.pytest_cache
venv/
node_modules/
package-lock.json
.vscode
.idea

pyback/db.sqlite3
pyback/media
pyback/bin/
pyback/include/
pyback/lib/
pyback/lib64/
pyback/.idea/

angular/.idea/
angular/node_modules/

