<div id="app-center"
fxLayout="row wrap"
fxLayoutGap="10px"
fxLayoutAlign="center start"
class="cards">

<mat-card class="example-card" *ngFor="let product of productList.results" >
  <!--<mat-card-header style="height: 100px;">-->
  <!--</mat-card-header>-->
  <mat-card-content ><p class="name" ><b>{{ product.name  }}</b></p></mat-card-content>

    <div  class="example-header-image" >
      <img mat-card-image class="example-header-image" src="{{ product.image }}" />
    </div>
  <mat-card-content>

    <p class="description">
      {{product.consist}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <span>
      {{product.price}} &#8372;
    </span>
    <span style="float: right">
      <input style="width: 50px;" matInput type="number" value="1" placeholder="Шт."> <button mat-raised-button color="primary">Buy</button>
    </span>
  </mat-card-actions>

</mat-card>

</div>


